/**
Id's til LoginView
 */

#login-textfield{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 20;
}

#login-label{
     -fx-font-family: "Lucida Sans";
     -fx-font-size: 25;
 }

#loginbutton {
    -fx-font-size: 15;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #0e6a38;
    -fx-border-width: 2;
    -fx-background-color: #0e6a38;
    -fx-text-fill: white;
}

/**
Id's til TeacherMainViewController
 */
#TeacherviewBtn{
    -fx-text-fill: white;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-font-size: 22;
    -fx-font-family: "Lucida Sans";
}

#TeacherviewBtn:hover{
    -fx-background-color: #065c2d;
    -fx-cursor: hand;
}

#Vbox {
    -fx-background-color: #0e6a38;
}

#TeacherLbl {
    -fx-text-fill: white;
    -fx-font-size: 28;
}

#darkerPane {
    -fx-background-color: #074523;
}

/**
Id's til TeacherSkabelonerView
 */

#SkabelonBtn{
    -fx-font-size: 20;
    -fx-background-color: lightgreen;
    -fx-border-color: lightgreen;
    -fx-border-width: 2px;
}

#SkabelonBtn:hover{
    -fx-border-color: limegreen;
    -fx-border-width: 2px;
}

#SkabelonBtn:pressed{
    -fx-background-color: limegreen;
}

#menuVBox{
    -fx-background-color: red;
}

.split-menu-button{
    -fx-font-size: 25;
}
#skabelonLabel{
    -fx-font-size: 25;
}